<% if user_signed_in? %>

<div class="col-md-4">
	Profile picture, edit account details
	<div class="widget">
		<div class="widget-body">
			<img class="user-box" src="/assets/coinking.png" />
		</div>

		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="/users/edit"> <i class="fa fa-user"></i>Edit Details</a></li>
		</ul>

	</div>


</div>

<div class="col-md-5">
	Status posting box and feed for followed users and my own posts
	 
    <%= render 'shared/post_form' %>

    <% @feed.by_date.each do |post| %>

    <div class="post-box">
    	<div class="box-body" style="display: block;">
			<p><%= raw(post.body). truncate(358) %></p>
		</div>

    </div>

    <% end %>


     



</div>

<div class="col-md-3">
	Users to follow "People you may know"


</div>



<% else %>

<div class="jumbotron landing-content">
  <h1>Welcome to KryptoKingz</h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<% end %>